*{
    margin: 0px;
    padding: 0px;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;

}

.main{
    width: 400px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 1.5rem;
    box-sizing: border-box;
    margin-top: 50px;
    background: linear-gradient(135deg ,#00feba , #5b548a);
    box-shadow: 0px 0px 20px 0px;
    padding: 5px;
}

.searchitems{
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px auto;
    /* box-shadow:0px 0px 32px 0px rgba( 31, 38, 135, 0.37 ); */
    /* backdrop-filter : blur( 14px ); */
    /* -webkit-backdrop-filter : blur( 14px ); */
    border : 1px solid rgba( 255, 255, 255, 0.58 );
    border-radius : 10px;
}

.listitems{
    width: 300px;
    max-height: 200px;
    overflow-y:  scroll;
    margin: 1px auto;
    background: transparent;
    z-index: 1;
    border: 1px solid rgba( 255, 255, 255, 0.58 );
    border-radius: 5px;
}

.listitems ul{
    list-style: none    ;
}

.listitems ul li{
    padding: 10px 20px;
    border-radius: 5px;
    font-family: monospace;
}

.listitems ul li:hover{
    background-color: rgba( 255, 255, 255, 0.58 );
}

#SearchCitytext{
    height: 2rem;
    width: 14rem;
    background-color: transparent;
    border: none;
}

#SearchButton{
    height: 2.2rem;
    width: 2.2rem;
    outline: none;
    border: none;
    background-color: transparent;
}


input[type=text]{
    padding-left: 20px;
    font-family: monospace;
}

input:focus{
    outline: none;
}

::placeholder{
    color: black;
    font-family: monospace;
}

.img-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    filter: drop-shadow(0px 0px 5px  rgb(255, 255, 255));
}

.city-name{
    color: aliceblue;
    font-family: monospace;
    font-size: 2em;
    margin: 1.5rem 2.5rem 0 2.5rem;
    padding-left: 5px;
}

.city-temparature{
    display: flex;
    justify-content: flex-start;
    margin-left: 2.5rem;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.city-temparature-text{
    font-size: 4rem;
}

.card-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px;
    padding: 0px 25px;
}

.card{
    width: 10rem;
    height: 8rem;
    border: 1px solid transparent;
    margin: 15px;
    background-color: rgba(223, 223, 223, 0.288);
    padding: 1rem;
    border-radius: 1.5rem;
    box-sizing: border-box;
}

.titles{
    color: rgb(99, 99, 99);
    font-family: cursive;
}

.observation{
    color: white;
    font-size: 1.5rem;
    margin: 0.2em 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#Condition{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listitems{
    z-index: 1;
}


